extends layout

block content
    h1(style="text-align:center")= 'Number ' + data.id + ': ' + data.name
    - var list = ["noah", "mio", "eunie", "taion", "lanz", "sena"]
    - var plac = {"Attacker": "FF0000", "Healer":"00FF00", "Defender":"0000FF"}
    each name in list
        
        -
            var classColor = "000000"
            for(i = 0; i < classes.length; i++) {
                if (data[name].class == classes[i].name) {
                    classColor = plac[classes[i].role] 
                }
            }
        div(class="responsive")
            div(class="gallery" 
            onmouseover='this.style.border="1px solid #' + classColor + '"'
            onmouseout='this.style.border="1px solid #ccc"') 
                p(class="bold") Class 
                        p= data[name].class
                div(class="float-container")
                    div(class="float-child")
                        p(class="bold") Class Arts 
                            each art in data[name].classArts
                                p= art
                    div(class="float-child")
                        p(class="bold") Master Arts 
                            each art in data[name].masterArts
                                p= art
                p(class="bold") Talent Art 
                    p= data[name].talentArt
                p(class="bold") Master Skills  
                    each skill in data[name].masterSkills
                        p= skill 
                div(class="float-container")
                    div(class="float-child")
                        p(class="bold") Accessories 
                            each acc in data[name].accessories
                                p= acc
                    div(class="float-child")
                        p(class="bold") Gems 
                            each gem in data[name].gems
                                p= gem
                div(class="desc")
                    hr
                    p= name[0].toUpperCase() + name.substring(1)
    
    div(class="responsive")
        div(class="gallery"
        onmouseover='this.style.border="1px solid ' + classColor + '"'
        onmouseout='this.style.border="1px solid #ccc"')
            p(class="bold") Arts
                each art in data["hero"].arts
                    p= art
            p(class="bold") Accessories
                each acc in data["hero"].accessories
                    p= acc
            div(class="desc")
                hr
                p= data["hero"].name
