extends layout

block content
    h1= 'Number ' + data.id + ': ' + data.name
    - var list = ["noah", "mio", "eunie", "taion", "lanz", "sena"]
    each name in list
        div(class="responsive")
            div(class="gallery")
                ul 
                    li Class 
                        ul 
                            li= data[name].class
                    li Class Arts 
                        ol 
                            each art in data[name].classArts
                                li= art
                    li Master Arts 
                        ol 
                            each art in data[name].masterArts
                                li= art
                    li Talent Art 
                        ul
                            li= data[name].talentArt
                    li Master Skills 
                        ol 
                            each skill in data[name].masterSkills
                                li= skill 
                    li Accessories 
                        ol
                            each acc in data[name].accessories
                                li= acc
                    li Gems 
                        ol
                            each gem in data[name].gems
                                li= gem
                div(class="desc")
                    p= name[0].toUpperCase() + name.substring(1)
    
    div(class="responsive")
        div(class="gallery")
            // content here
            ul
                li Arts
                    ol
                        each art in data["hero"].arts
                            li= art
                li Accessories
                    ol
                        each acc in data["hero"].accessories
                            li= acc
            div(class="desc")
                p= data["hero"].name
